<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4" style="margin: 30px;">DOCUMENTASJON AV OPPGAVEN</h1>

    <h3>Hva jeg har gjort</h3>

    <p>jeg har laget en webside som tar vill at du skal logge på endten med et alerede eksiterende 
      konto på login eller lage din egen på</p>

    <!--<% usersWithSecrets.forEach(function(user) { %>
      <p class="secret-text"><%=user.secret%></p>
    <% }); %> -->



    
    <hr>
    <a class="btn white btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn blue btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
