<%- include('partials/header') %>

  <div class="centered">
    <div class="box">

    <h1>Registrere eller Loge in</h1>
    <br>
    <hr>
    <br>
    <a class="button blue" type="button" href="/register" role="button">Register</i>
    <a class="button white" type="button" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
