<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4" style="margin: 30px;">VURDERING AV OPPGAVEN</h1>

    <h3>Vurdering</h3>

    <p>Jeg kunne ha lagt til en to faktorisering for å gjøre det litt sikrere eller å ha lagt til 
        en web Application firewall. Det er også viktig at jeg har en webside som har https og ikke 
        http, fordi https vil kryptere og sikre alt som blir sendt imellom bruker og server. Jeg 
        kunne ha kjøpt et eget domene og gitt den lisens slik at jeg kunne ha hatt https på den, 
        men jeg brukte Heroku sin innebygget https domene. Jeg kunne også ha lagt til Facebook login 
        button på samme måte som Google. Det endte med at jeg trengte «privacy policy url» som kan 
        koste og tar tid, men ville ha gjort websiden bedre. Jeg har bare Hashet og lagt til salt på 
        passordet så jeg kunne ha forbedret nettsiden med noe mer kryptering. En annen ting som jeg 
        kunne ha gjort var å sette nettsiden på en tryggere server enn Heroku og putte dataen på en 
        sikrere database en Mongodb. </p>





    <hr>
    <a class="btn white btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn blue btn-lg" href="/documentation" role="button">Documentation</a>
  </div>
</div>

<%- include('partials/footer') %>