<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4" style="margin: 30px;">VURDERING AV OPPGAVEN</h1>

    <h3>Vurdering</h3>

    <p></p>





    <hr>
    <a class="btn white btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn blue btn-lg" href="/documentation" role="button">Documentation</a>
  </div>
</div>

<%- include('partials/footer') %>